@font-face {
  font-family: 'ButlerStencilMed';
  src: url('fonts/Butler_Stencil_Webfont/ButlerStencil-ExtraBold.woff');
}
a{text-decoration: none;}
a:hover, a:visited, a:link, a:active
{
    color: black;
    text-decoration: none;
}

.App-header {
  background-color: white;
  min-height: 100px;
  display: grid;
  grid-auto-flow: column;
  color: black;
}

.logo {
  display: grid;
  padding-left: 150px;
  align-content: center;
  justify-content: start;
  font-family: 'ButlerStencilMed';
  font-size: 2.5em;
}

.App-header nav {
  display: grid;
  justify-content: center;
  align-content: center;
}

.App-header ul {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
}

.App-header li {
  margin: 0 10px;
}

.Gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Post {
  height: 250px;
  width: 200px;
  margin: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Post img {
  flex-shrink: 0;
  max-width: 200%;
  max-height: 200%;
}

.text {
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 1.8em;
  font-weight: 700;
  font-family: 'IBM Plex Mono';
  background: -webkit-repeating-linear-gradient(left, #ffedbc, #ed4264 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.Post:hover .img-mask {
  transition: .2s ease;
  background-color: rgba(237,66,100,0.15);
}