.Posts {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 1100em;
  width: 80%;
  margin: 0 auto;
}

.PostsImg {
  flex: 0 0 auto;
  width: 48%;
  height: auto;
  overflow: hidden;
  margin: 5px 0;
}

.PostsImg img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}