.Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 80%;
  margin: 0 auto;
}

.PostsImg {
  width: 48%;
  max-height: auto;
  margin: 0 5px 5px 5px;
}

.PostsImg:nth-child(2n+1) { order: 1;}
.PostsImg:nth-child(2n) { order: 2;}

.PostsImg img {
  max-width: 100%;
  max-height: 100%;
}